body {
    font-family: Lato, sans-serif;
}

#chat-box {
    width: 100%;
    height: 430px;
    overflow-y: auto;
}

.message-area {
    margin-left: 0.75em;
}

.message-header {
    display: flex;
    align-items: baseline;
    flex: 1 1 auto;
}

.message-time {
    opacity: 1;
    display: inline;
    line-height: 18px;
    color: #9e9ea6;
    font-size: 12px;
    white-space: nowrap;
    position: relative;
    z-index: 1;
}

.message {
    color: #2C2D30;
    font-size: 15px;
    line-height: 22px;
    word-wrap: break-word;
    display: block;
}

.user-name {
    margin-right: .25rem;
    display: inline;
    font-weight: 900;
    color: #2C2D30 !important;
    line-height: 18px;
    word-wrap: break-word;
}

.user-avatar {
    margin-top: 4px;
    display: block;
}

ul {
    list-style-type: none;
}