<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="http://vjs.zencdn.net/6.2.7/video-js.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/css/room.css">
    <title>Cinerum</title>
</head>
<body>
<video id="room-video" class="video-js" controls preload="auto" width="640" height="264"
       data-setup="{}">
    <source src="//vjs.zencdn.net/v/oceans.mp4" type='video/mp4'>
    <source src="//vjs.zencdn.net/v/oceans.webm" type='video/webm'>
    <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
</video>
<div id="log"></div>
<form id="form">
    <input type="submit" value="Send" />
    <input type="text" id="msg" size="64"/>
</form>
<script src="http://vjs.zencdn.net/6.2.7/video.js"></script>
<script src="/static/js/player.event.js"></script>
<script src="/static/js/websocket.event.js"></script>
</body>
</html>